# 🔐 ENV FILES
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/
venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
drone.log.*

# Generated output
recordings/
screenshots/

# Build / dist
*.egg-info/
dist/
build/